@include mediaquery(from, sm) {
  .card-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.card {
  display: block;
  padding: 0 20px 20px;
  color: initial;
  text-decoration: none;
  box-shadow: 1px 1px 3px;
  transition: transform .3s ease;

  @include mediaquery (from, sm) {
    width: 30%;
  }

  ~ .card {
    margin-top: $unit * 2;

    @include mediaquery(from, sm) {
      margin-top: 0;
    }
  }

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 100%;
  }
}

.card__title {
  padding-top: $unit;
  padding-bottom: $unit;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid $grey;
}
