.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

@each $screen-width, $value in $screen-widths {
  @each $breakpoint-direction in $breakpoint-directions {
    .flex-#{$breakpoint-direction}-#{$screen-width} {
      @include mediaquery($breakpoint-direction, $screen-width) {
        display: flex;
      }
    }
  }
}
