header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: $background-color;
  z-index: 10;
}

.logo {
  display: block;
  line-height: 0;

  img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

    @include mediaquery(from, sm) {
      width: 400px;
    }
  }
}

.mobile-menu-button {
  position: absolute;
  top: $gutter;
  right: $gutter / 2;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  font-family: sans-serif;

  @include mediaquery(from, sm) {
    display: none;
  }

  &--close {
    position: static;
    margin-left: auto;
  }
}
