header {
  position: relative;
  text-align: center;
}

.logo img {
  width: 200px;

  @include mediaquery(sm) {
    width: auto;
  }
}

.nav-menu-button {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 2.5rem;
  line-height: 1;
  border: none;
  background: none;
  cursor: pointer;
}
