header {
  text-align: center;
}

.logo img {
  width: 200px;

  @include mediaquery(sm) {
    width: auto;
  }
}

.nav-menu-button {
  position: absolute;
  top: $gutter;
  right: $gutter / 2;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  font-family: sans-serif;

  @include mediaquery(sm) {
    display: none;
  }
}
