main {
  margin-bottom: $unit * 2;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.base-style {
  padding: $gutter $gutter $gutter / 2;

  @include mediaquery(from, sm) {
    padding: $gutter-desktop $gutter-desktop $gutter-desktop / 2;
  }
}
