nav {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform .3s ease;
  z-index: 1;

  width: 90%;
  height: 100%;
  padding: $unit;
  background-color: $background-color;

  @include mediaquery(sm) {
    position: relative;
    transform: translateX(0);
    transition: none;
    z-index: 0;

    width: auto;
    height: auto;
    margin-top: $unit;
    background-color: transparent;

    > ul {

      > li {

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 10px;
          height: 10px;
          background-image: url('/user/themes/susan/images/star.svg')
        }

        ~ li {
          margin-left: $unit * 2;
        }
      }
    }
  }
}

.nav-menu-open {
  transform: translateX(0);
}

.main-nav__item {
  position: relative;

  a {
    display: block;
    font-size: $unit * 1.25;
    text-decoration: none;

    @include hover();
  }
}
