<div class="base-style">
  <section class="contact margin-top-x1">
    Susan Broers<br/>
    <a href="mailto:contact@susanbroers.nl">contact@susanbroers.nl</a>
  </section>
  <section class="social flex flex-justify-center margin-top-x2">
    <a href="https://nl.pinterest.com/susannacostumes/" target="_blank">
      <img src="{{ url('theme://images/pinterest.svg') }}" alt="Visit Susan Broers' Pinterest" />
    </a>
    <a href="https://www.instagram.com/susanbroers/" target="_blank">
      <img src="{{ url('theme://images/instagram.svg') }}" alt="Visit Susan Broers' Instagram" />
    </a>
    <a href="https://www.facebook.com/susan.broers" target="_blank">
      <img src="{{ url('theme://images/facebook.svg') }}" alt="Visit Susan Broers' Facebook" />
    </a>
  </section>
</div>
