@media only screen and (min-width: 480px) {
  .flex-xs {
    display: flex; } }

@media only screen and (min-width: 768px) {
  .flex-sm {
    display: flex; } }

@media only screen and (min-width: 992px) {
  .flex-md {
    display: flex; } }

@media only screen and (min-width: 1200px) {
  .flex-lg {
    display: flex; } }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

.page {
  padding: 20px; }
  @media only screen and (min-width: 1200px) {
    .page {
      padding: 20px 0; } }
  .page.nav-menu-open {
    background-color: rgba(0, 0, 0, 0.4); }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex {
  display: flex; }

.flex-justify-center {
  justify-content: center; }

header {
  text-align: center; }

.logo img {
  width: 200px; }
  @media only screen and (min-width: 768px) {
    .logo img {
      width: auto; } }

.nav-menu-button {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  font-family: sans-serif; }
  @media only screen and (min-width: 768px) {
    .nav-menu-button {
      display: none; } }

.page {
  margin: 0 auto;
  max-width: 1200px; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform .3s ease;
  z-index: 1;
  width: 90%;
  height: 100%;
  padding: 20px;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    nav {
      position: static;
      transform: translateX(0);
      transition: none;
      z-index: 0;
      width: auto;
      height: auto;
      margin-top: 40px;
      background-color: transparent; }
      nav > ul > li ~ li {
        padding-left: 40px; } }

.nav-menu-open {
  transform: translateX(0); }

